@media only screen and(max-width: 480px){

.container 
{
    height: 100vh;
    width: 100vw;
    background-size:cover;
    background-position: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header
{
    width: 100%;
    height: 10%;
    background-color: rgba(38, 32, 62, 0.8);
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.menu
{

    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
   
    
}



.logo
{
    width: 15%;
    height: 100%;
    align-items: center;
    justify-items: flex-start;
}

#logoPicture
{
    width: 150px;
    height: 100%;
    image-rendering:optimizeQuality;
    justify-content: flex-start;
}

#submenu > a{

    text-decoration: none;
}

#submenu > a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:whitesmoke;
}

.selected > a:visited, a:hover{

    color:#f71717 !important;
    
    }

#submenu
{
    font-size: 1.6rem;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap:25px;
    justify-self: right;
    color:white;
    text-decoration: none;
}



.filler{

    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.content
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#div1
{
    width: 75%;
    background-color: rgba(255,255,255,0.9);
    padding: 20px 20px;
    height: 100%;
    
    /* -webkit-box-shadow:0px 0px 43px 5px rgba(255,255,255,0.85);
    -moz-box-shadow: 0px 0px 43px 5px rgba(255,255,255,0.85);
    box-shadow: 0px 0px 43px 5px rgba(255,255,255,0.85); */
}

#div2
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    font-size: 1.5rem;
    flex-direction: row;
    
}
#div2 img{
    height: 500px;
}

#div2 a{
    color: black;
    text-decoration: underline;
}

.indexImage{
    display: flex;
    width: 120%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.footer{
display: flex;
width: 100%;
height: 10%;
background-color: rgba(38, 32, 62, 0.8);
justify-content: center;
align-content: center;
}

.footerMenu{
    display: flex;
    height: 100%;
    width: 30%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.productsImage{

    height: 200px !important;
    width: 350px;
}

.productCollumn{

    display: flex;
    flex-direction: column;
    justify-content: left;

}

.contacts{
    display: flex;
    width: 100%;
    height: 50%;
    align-content:center;
    justify-content: center;
    gap: 50px;
}

#facebook{
    width:40px;
	height:40px;
	display:block;
    opacity: 0.8;

}

#youtube{
    width:40px;
	height:40px;
    opacity: 0.8;

}

#instagram{
    width:40px;
	height:40px;
	display:block;
    opacity: 0.8;


}

#ring{

    width: 250px;

}






}